{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron bg-light">
		<div class="container col-10">
			<h1 class="display-4">Error 404: Page not found</h1>
			<p class="lead">The requested page couldn't be located. Checkout for any URL misspelling or
				<a href="{{ path('flight_index') }}">return to the homepage</a>.</p>
		</div>
			<hr class="my-4">
	</div>
{% endblock %}
