<form method="post" action="{{ path('flight_delete', {'id': flight.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flight.id) }}">
    <button class="btn btn-outline-danger text-uppercase">Delete</button>
</form>
